<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fa fa-bars"></i>
    </label>
    <label class="logo"><img onclick="location='/'" src="images/SoftMania_LOGO__2_-removebg-preview (1).png" height="70" alt="softmania logo"></label>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/login">form</a></li>
      <li><a class="active" href="/login">login</a></li>
    </ul>
  </nav>