<!DOCTYPE html>
<html lang="en" >
<head>
    <%- include('includes/head') %>
  <title>Admin-login</title>
  <!-- unicons -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="stylesheet" href="admin.css">

</head>
<body>
    <%- include('includes/header') %>
<!-- home -->
<div class="admin">
    <div class="admin-login">
    <h1>Admin</h1>
    <p>Enter your credentials.</p>
    </div>
    <form action="/timesheet" method="post">
        <div class="input-group">
            
            <div class="input-data">
                <input type="email" placeholder="Email" name="email" required>
            </div>
            <div class="input-data">
                <input type="password" placeholder="password" name="password" required>
            </div>
            <div>
                <button value="Admin-login" type="submit" class="summit">submit</button>
            </div>
        </div>
        
    </form>
    
</div>
<!-- footer -->
<%- include('includes/footer') %>

 
<script src="login.js"></script>
</body>
</html>