<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navigation Bar with Search Box</title>
    <link rel="stylesheet" href="header.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fa fa-bars"></i>
      </label>
      <label class="logo"><img src="/public/images/SoftMania_LOGO__2_-removebg-preview (1).png" height="90px" alt="softmania logo"></label>
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#">Admin</a></li>
        <li><a href="#">form</a></li>
        <li><a href="#">login</a></li>
      </ul>
    </nav>
    
  </body>
</html>