<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <title>Softmania-Timesheet form</title>
    <link rel="stylesheet" href="home.css">
  </head>
  <body>
    <%- include('includes/header') %>
    <!-- home -->
    <div class="btn-field">
        <button type="button" class="color">Admin</button>
        <button type="button" class="color">User</button>
        
    </div>
   

    <%- include('includes/footer') %>

    <script src="script.js"></script>
  </body>
</html>
