<!DOCTYPE html>
<html lang="en" >
<head>
    <%- include('includes/head') %>
  <title>login</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
    <%- include('includes/header') %>
<!-- login -->

<!-- footer -->
<footer class="footer">
    <span class="text-muted">&copy; Softmania 2024</span>
</footer>

 
<script src="login.js"></script>
</body>
</html>