<!DOCTYPE html>
<html lang="en" >
<head>
    <%- include('includes/head') %>
  <title>login</title>
  <!-- unicons -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="stylesheet" href="./style.css">

</head>
<body>
    <%- include('includes/header') %>
<!-- login -->

<!-- footer -->
<footer class="footer">
    <span class="text-muted">&copy; Softmania 2024</span>
</footer>

 
<script src="login.js"></script>
</body>
</html>