<!DOCTYPE html>
<html lang="en" >
<head>
    <%- include('includes/head') %>
  <title>login</title>
  <!-- unicons -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link rel="stylesheet" href="login.css">

</head>
<body>
    <%- include('includes/header') %>
<!-- home -->
<div class="container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <form action="/form" method="post">
            <div class="input-group">
                <div class="input-data">
                    <input type="email" placeholder="Email" id="email" name="email" required>
                </div>
                <div class="input-data">
                    <input type="password" placeholder="password" id="password" name="password" required>
                </div>
                <div>
                    <button value="login" type="submit" class="summit">submit</button>
                </div>
                <p>forget password ?<a href="#">click here</a></p>
            </div>
            <div class="btn-field">
                <p>don't hava a account?</p>
                <button onclick="location='/signup'" type="button" ><a class="color" href="/signup">Signup</a></button>
            </div>
        </form>
    </form>
    
</div>
<!-- footer -->
<%- include('includes/footer') %>

 
</body>
</html>