
body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
nav{
  background: linear-gradient(to right, #205e71, #22802f, #5f9e13);
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;

}
a:hover{
  color: black;
  background: #eeeeee;
}
.active{
  color: black;
  background: #fff;
}
.active:hover{
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px) {
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
    text-decoration: none;
  }
}
@media (max-width: 858px) {
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #205e71, #22802f, #5f9e13);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .3s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    text-decoration: none;
  }
  a:hover{
    color: black;
    background: #eeeeee;
    transition: .3s;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
